@import "colors.css";

#connections,
#network {
  margin: 3px 5px;
  padding: 5px 12px;
  background-color: @container;
  border: 1px solid @border;
  border-radius: 8px;
  color: @text;
}

#bluetooth {
  margin: 2px 3px;
  padding: 0 9px 0 5px;
}

#network {
  color: @accent;
}
